.footer
{
    @include flexCol();
    flex-wrap:wrap;

}

.footer__img
{
    width:45%;
    height:auto;
    margin:0% 2%;
    max-width: 200px;

    @media (min-width:400px)
    {
        align-self: center;
    }
}

.footer__images
{
    @media (min-width:400px)
    {
        @include flexbox(space-around);
    }
}

.footer__text
{
    padding:5% 10%;
    font-size:$fontSmall;
}

.footer__link
{
    color:$colorLightRed;
}

.footer__link:hover
{
    transition:0.4s;
    border-bottom:1px solid $colorLightRed;
}
