.header
{
    width:100vw;
}

.header__nav
{
    @include flexbox;
    height:20vh;
    align-items: center;
}

.header__img
{
    display: block;
    width:100%;
    margin-left:5%;
    height:auto;
    max-width: 200px;
}


.header__list
{
    @include flexbox;
    width:15vw;
    height:15vw;
    max-width:75px;
    max-height:75px;
    background-color:black;
    margin-right:2%;
    margin-top:2%;

    @media (min-width:768px)
    {
        display: none;
    }
}

.header__burger
{
    width:100%;
    height: 100%;
    background-color:$colorRed;
    padding:0px 0.625em;
    display:block;
    border-radius: 4px;
    @include flexCol;

    li
    {
        margin:3px 0px;
        height:10%;
        background-color: $colorBlack;

    }
}

.header__video
{
    height:auto;
    width:100%;
}

.header__menu
{
    display:none;
    @media (min-width:768px)
    {
        @include flexbox(space-around);
        align-items: center;
        width:75%;
        height:100%;
        padding:0px 10% 0px 2%;
        font-family: "SpaceMarine";
        font-size:$fontSmall;
    }
}

.header__menuItems
{
    margin:0px 1%;
    transition:0.5s;
    position: relative;
    display: block;

    &:hover
    {
        color:$colorYellow;
        transition:0.3s;
        transform:scale(1.1);
    }
}


.header__videoContainer
{
    width:100%;
    position:relative;
    z-index:-1;

    &::after
    {
        opacity: 0.2;
        background-color: black;
        content:'';
        display:block;
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
    }
}