.inquisitor
{
    background-image: url("../img/inquisitorBGsmall.jpg");
    background-repeat: no-repeat;
    height:100vh;
    @include flexbox();
    flex-direction: column;
    background-size: cover;
    @media (min-width:500px)
    {
        background-image: url("../img/inquisitorBGmedium.jpg");
    }
    @media (min-width:1000px)
    {
        background-image: url("../img/inquisitorBGlarge.jpg");
    }
}

.inquisitor__content
{
    margin-top:15%;
    height:100%;
    padding:5%;
    position: relative;
}

.inquisitor__text
{
    padding-top:10%;
    font-size: $fontReallySmall;
    line-height: 1.5;
    width:80%;

    @media (min-width:500px)
    {
        font-size: $fontSmall;
    }
}

.inquisitor__title
{
    color:$colorBlue;
    font-size:$fontBig;
    line-height: 1.2;
}

.inquisitor__read
{
    @include bordering;
    @include centerFlex;
    width:50%;
    padding: 3% 0px;
    font-variant: small-caps;
    background-color:rgba(15,15,15,0.35);
    color:$colorYellow;
    position:absolute;
    bottom: 10%;
    left:10%;

}