.platforms
{
    width:100%;
    @include flexbox;
}

.platformsList
{
    @include centerFlex(column,space-between);
    width:100%;
}

.platformsList__Item
{
    padding:2% 0px;
    height:30%;
    color:white;
    @include flexbox(space-around);
    width:85%;
}

.platformsContainer__img
{
    width:40%;
    height:auto;
    display:block;
    max-width:120px;
}

.platformsList__price
{
    @include flexbox(center);
    flex-direction:column;

}

.platformsList__Item--clicked
{
    position:relative;
    @include coloredFilter($colorLightRed,0.5);
}