.recentQuote
{
    background-attachment: scroll;
    box-shadow: $colorBlack 0px 0px 56px 56px inset;
    background-image: url("../img/spaceMarinesSmall.jpg");
    width:100%;
    height:100vh;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexCol();

    @media (min-width:400px)
    {
        background-image: url("../img/spaceMarinesMedium.jpg");
    }
    @media (min-width:600px)
    {
        background-image: url("../img/spaceMarines.jpg");
    }
}

.recentQuote__text
{
    padding:0px 10%;
    color:rgba(240,240,240,0.75);
    line-height: 150%;
    @include flexCol();

    &::after{
        margin-top:10%;
        content: '-- Our Emperor';
        color:$colorWhite;
    }
}

.recentQuote__text--blood
{
    color:$colorLightRed;
}