*
{
  margin:0;
  padding:0;
  text-decoration: none;
  color:#f1f1f1;
  font-family: "SpaceMarine";
  list-style: none;
  box-sizing: border-box;
  cursor:url('../img/cursorNormal.png'),auto;
}

html{
  overflow-x: hidden;
}

body
{
  width:100vw;
  background-color:$colorBlack;
  overflow-x: hidden;
  @include flexCol;
  padding:0px 1%;
}