@mixin flexbox($jus:space-between)
{
    display:flex;
    justify-content:$jus;
}

@mixin fontFace($name, $url, $weight: "normal")
{
    @font-face {
        font-family: "#{$name}";
        src: url("../font/#{$url}.ttf") format("truetype");
       /* url("../font/#{$url}.woff") format("woff"), //// convertir
        url("../font/#{$url}.woff2") format("woff2");*/
        font-weight: $weight;
    }
}

@include fontFace("SpaceMarine", "space-marine");

@mixin centerFlex($dir:row, $space:center)
{
    display:flex;
    flex-direction:$dir;
    align-items: center;
    justify-content: $space;
}

@mixin animation($name,$dur:1s,$count:0)
{
    animation-name:$name;
    animation-duration: $dur;
    animation-iteration-count: $count;
}

@mixin bordering ()
{
    border-width:4.5px;
    border-style:solid;
    border-image:linear-gradient(
        to left, rgba(17,17,17,1) 1%,
        rgba(150,150,150,0.7) 50%,
        rgba(17,17,17,1) 100%
    ) 80% 0 80% 0/4.5px 0 4.5px 0 stretch;
}