
/*colors */
$colorRed :#971C07 ;
$colorWhite :#DDDDDD ;
$colorBlack:#0a0a0a;
$colorYellow:rgb(200,180,110);
$colorLightRed:rgb(218, 40, 40);
$colorBlue:#60ddd9;

$fontReallySmall:0.5em;
$fontSmall:0.75em;
$fontNormal:1em;
$fontBig:1.6em;
$fontReallyBig:2.5em;